<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('publicHead') -%>
</head>
<body>
  <div class="publicPage <%= active %>">
    <%- include('publicNav') %>
    <div class="publicContent">
      <div class="publicWidth">
        <div class="publicBox">
          <h2>individual</h2>
        </div>
      </div>
    </div>
    <%- include('publicFooter') %>
  </div>
</body>
</html>