<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<!-- <base href="/stock4/"> -->
<base href="/stock2/">
<link rel="stylesheet" href="./css/public.css">
