<style>
  .publicFooter{
    padding: 30px;
    display: flex;
    justify-content: center;
  }
  .publicFooter small{
    font-size: 12px;
    color: rgb(128, 129, 145);
  }
</style>
<div class="publicFooter">
  <small>Copyright © 2023. All rights reserved.</small>
</div>
<script>
  const pageJson = JSON.parse('<%- JSON.stringify(data) %>')
</script>
<script src="./js/public.js"></script>
