<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="css/public.css">
<script>
  const pageJson = JSON.parse('<%- JSON.stringify(data) %>')
</script>
<script src="js/public.js"></script>

