<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;500;700;900&family=Noto+Serif+TC:wght@300;500;700;900&display=swap');
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        font-size: 100%;
        vertical-align: baseline;
    }

    body {
        font-family: 'Noto Sans TC',sans-serif;
        margin: 0;
        padding: 0;
        color: #7d7b8a;
        font-size: 16px;
        position: relative;
        background: #1f2127;
    }

    *,
    *::before,
    *::after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .container {
        width: 86%;
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
    }

    ul {
        list-style: none;
    }

    .list-unstyled {
        padding-left: 0;
        list-style: none
    }

    .list-inline {
        padding-left: 0;
        list-style: none
    }

    .list-inline>li {
        display: inline-block;
        padding-left: 8px;
        padding-right: 8px;
    }

    img {
        border: 0;
        display: block;
    }

    a {
        color: inherit;
        text-decoration: none;
        display: block;
    }
    textarea:focus,
    input:focus{
        outline: none;
    }
    /*共用--------------------------------------------------------------------*/
    /*publicWidth*/
    .publicWidth{
      max-width: 1280px;
      margin: auto;
      padding: 0 20px;
      display: flex;
    }
    @media (max-width: 1360px){
      .publicWidth {
        max-width: calc(100% - 60px);
      }
    }
    @media (max-width: 576px){
      .publicWidth {
        max-width: 576px;
      }
    } 
    .publicPage{
      background: #1f2127;
    }
    .publicNav{
      position: fixed;
      width: 100%;
      padding: 16px 0;
      border-bottom: 1px solid #4A4C55;
      background: #1F2127;
    }
    .publicNav .publicWidth{
      align-items: center;
      justify-content: space-between;
    }
    .publicNav .logo a{
      font-size: 24px;
      color: #808191;
      display: flex;
      align-items: center;
    }
    .publicNav .logo a svg{
      width: 28px;
      height: auto;
      fill: #3A61F6;
      margin-right: 5px;
    }
    .publicNav .nav ul{
      display: flex;
    }
    .publicNav .nav a{
      color: #7d7b8a;
      font-size: 14px;
      padding: 0 16px;
    }
    .publicNav .nav a.active{
      color: #fff;
    }
    .publicContent{
      padding: 100px 0;
    }
    .publicFooter{
      padding: 30px;
      display: flex;
      justify-content: center;
    }
    .publicFooter small{
      font-size: 12px;
      color: rgb(128, 129, 145);
    }
    .publicBox{
      padding: 24px;
      background-color: #252730;
      border-radius: 15px;
    }
    .publictitle{
      color: #D8D9E3;
      font-size: 18px;
      margin-bottom: 24px;
    }
    .publicTable{
      border: 1px solid #4A4C55;
    }
    .publicTable .title{
      border-bottom: 2px solid #808191;
    }
    .publicTable p{
      font-size: 14px;
    }
    .publicTable ul{
      display: flex;
    }
    .publicTable li{
      flex: 1;
      padding: 12px;
    }
    .publicTable ul+ul{
      border-top: 1px solid #4A4C55;
    }
    .publicTable li+li{
      border-left: 1px solid #4A4C55;
    }
    /*remuneration--------------------------------------------------------------------*/
    .remuneration .publicBox{
      margin-top: 30px;
      width: 100%;
    }
    .remuneration .publicTable li:nth-child(1){
      flex: 0 0 80px;
    }
    .publicTable .control li{
      display: flex;
    }
    .publicTable .control li a+a{
      margin-left: 5px;
    }
    .publicTable .control li a{
      color: #3A61F6;
      border: 1px solid #3A61F6;
      font-size: 13px;
      border-radius: 3px;
      padding: 4px 16px;
    }
    .publicTable .control li a:hover{
      color: #fff;
      background-color: #3A61F6;
    }
    .publicTable .control li a.delet{
      color: #F95F53;
      border: 1px solid #F95F53;
    }
    .publicTable .control li a.delet:hover{
      color: #fff;
      background-color: #F95F53;
    }
    
    
  </style>
</head>
<body>
  <div class="publicPage <%= active %>">
    <div class="publicNav">
      <div class="publicWidth">
        <div class="logo">
          <a href="#home">
            <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m2.394 15.759s7.554 4.246 9.09 5.109c.165.093.333.132.492.132.178 0 .344-.049.484-.127 1.546-.863 9.155-5.113 9.155-5.113.246-.138.385-.393.385-.656 0-.566-.614-.934-1.116-.654 0 0-7.052 3.958-8.539 4.77-.211.115-.444.161-.722.006-1.649-.928-8.494-4.775-8.494-4.775-.502-.282-1.117.085-1.117.653 0 .262.137.517.382.655zm0-3.113s7.554 4.246 9.09 5.109c.165.093.333.132.492.132.178 0 .344-.049.484-.127 1.546-.863 9.155-5.113 9.155-5.113.246-.138.385-.393.385-.656 0-.566-.614-.934-1.116-.654 0 0-7.052 3.958-8.539 4.77-.211.115-.444.161-.722.006-1.649-.928-8.494-4.775-8.494-4.775-.502-.282-1.117.085-1.117.653 0 .262.137.517.382.655zm10.271-9.455c-.246-.128-.471-.191-.692-.191-.223 0-.443.065-.675.191l-8.884 5.005c-.276.183-.414.444-.414.698 0 .256.139.505.414.664l8.884 5.006c.221.133.447.203.678.203.223 0 .452-.065.689-.203l8.884-5.006c.295-.166.451-.421.451-.68 0-.25-.145-.503-.451-.682z" fill-rule="nonzero"/></svg>
            股票觀測站
          </a>
        </div>
        <div class="nav">
          <ul>
            <li><a href="remuneration">股票報酬</a></li>
            <li><a href="backtest">股票回測</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="publicContent">
      <div class="publicWidth">
        <div class="publicBox">
          <h4 class="publictitle">股票報酬統計</h4>
          <p><%= data %></p>
          <div class="publicTable">
            <ul class="title">
              <li><p>名稱</p></li>
              <li><p>元大高股息<br>0056</p></li>
              <li><p>富邦公司治理<br>00692</p></li>
            </ul>
            <ul class="year">
              <li><p>2015</p></li>
              <li><p>-1.5%</p></li>
              <li><p></p></li>
            </ul>
            <ul class="year">
              <li><p>2016</p></li>
              <li><p>10.2%</p></li>
              <li><p></p></li>
            </ul>
            <ul class="annualized">
              <li><p>年化</p></li>
              <li><p>8.49%</p></li>
              <li><p>8.49%</p></li>
            </ul>
            <ul class="week">
              <li><p>6/9</p></li>
              <li><p>11.0%</p></li>
              <li><p></p></li>
            </ul>
            <ul class="week">
              <li><p>6/19</p></li>
              <li><p></p></li>
              <li><p></p></li>
            </ul>
            <ul class="week">
              <li><p>6/21</p></li>
              <li><p>10.2%</p></li>
              <li><p></p></li>
            </ul>
            <ul class="control">
              <li></li>
              <li><a href="#" class="add">新增</a><a href="#" class="delet">刪除</a></li>
              <li><a href="#" class="add">新增</a><a href="#" class="delet">刪除</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="publicFooter">
      <small>Copyright © 2023. All rights reserved.</small>
    </div>
  </div>
</body>
</html>