.home .customTable{
  max-height: 420px;
  overflow: auto;
}
.home .customTable ul.table_title{
  position: sticky;
  top: 0;
  z-index: 1;
}
.home .customTable ul{
  display: flex;
  background: #212529;
}
.home .customTable ul.table_title{
  border-bottom: 2px solid #808191;
}
.home .customTable ul.table_title li{
  padding: 12px;
}
.home .customTable ul.table_content{
  border-bottom: 1px solid #373b3e;
}
.home .customTable ul.table_content li{
  padding: 6px 12px;
}
.home .customTable ul li p.green{
  color: #198754;
}
.home .customMian ul li{
  flex: 1 1;
}
.home .customMian .customTable li{
  text-align: center;
}
.home .customNav ul li:nth-child(1){
  width: 65%;
}
.home .customNav ul li:nth-child(2){
  width: 35%;
}
.home .customNav ul.table_title li{
  padding: 12px 8px;
}
.home .customNav ul.table_content li{
  padding: 6px 8px;
}
.home .prosperity .customTable{
  height: 400px;
  width: 100%;
}