.remuneration .publicContent>.publicWidth{
  display: block;
}
.remuneration .publictitle h4{
  font-size: 24px;
  font-weight: bold;
}
.remuneration .publicGrid3{
  align-items: end;
}
.remuneration .publicBox{
  min-height: calc(100vh - 100px - 77px - 35px - 12px - 155px - 24px);
  display: flex;
  align-items: center;
}
.remuneration #chart{
  width: 100%;
  height: 400px;
}
/*lds-ring*/
.remuneration a.lds-ring{
  margin-left: 8px;
  margin-top: 3px;
}
/*type=number*/
.remuneration input[type=number]::-webkit-outer-spin-button,
.remuneration input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.remuneration input[type=number] {
  -moz-appearance: textfield;
}





.publicGrid2{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2,1fr);
}
.publicGrid3{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3,1fr);
}
.publicGrid4{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4,1fr);
}
.publicGrid5{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5,1fr);
}
.publicForm {
  margin-bottom: 24px;
}
.publicForm .item{
  margin-bottom: 8px;
}
.publicForm label{
  font-size: 12px;
}
.publicForm input{
  padding: 12px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  font-size: 16px;
  width: 100%;
}
.publicForm .btn{
  background-color: #058296;
  padding: 12px;
  color: #fff;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*lds-ring*/
.active .lds-ring{
  display: inline-block;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 14px;
  height: 14px;
  display: none;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  /* margin: 8px; */
  border: 2px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}